<div class="container my-5 " style="height:  870px !important;">

  <div class="my-5">

    <p class="text-center" style="font-size: 30px"><b>Register</b></p>
    <form [formGroup]="form" (ngSubmit)="post()">


      <div class="col-12 form-group mb-0 px-0">
        <h6 for="name" class="mt-0">*Name</h6>
        <input type="text" class="form-control"
               aria-describedby="name"
               placeholder="" formControlName="name">
        <span *ngIf="(form.controls.name.status == 'INVALID') && (form.controls.name.touched)" class="text-danger">
          The field is required and cannot contain numbers or special characters
        </span>
      </div>

      <div class="col-12 form-group mb-0 px-0 mt-3">
        <h6 for="family_name" class="mt-0">*Family name</h6>
        <input type="text" class="form-control"
               aria-describedby="family_name"
               placeholder="" formControlName="family_name">
        <span *ngIf="(form.controls.family_name.status == 'INVALID') && (form.controls.family_name.touched)" class="text-danger">
          The field is required and cannot contain numbers or special characters
        </span>
      </div>

      <div class="col-12 form-group mb-0 px-0 mt-3">
        <h6 for="email" class="mt-0">Email</h6>
        <input type="text" class="form-control"
               aria-describedby="email"
               placeholder="" formControlName="email">

        <span *ngIf="(form.controls.email.status == 'INVALID') && (form.controls.email.touched)" class="text-danger">the field is required and should be valid</span>
      </div>


      <div class="col-12 form-group mb-0 px-0 mt-3">
        <h6 for="phone" class="mt-0">Phone</h6>
        <input type="number" max="9999999999" class="form-control"
               aria-describedby="phone"
               placeholder="" formControlName="phone">
        <span *ngIf="(form.controls.phone.status == 'INVALID') && (form.controls.phone.touched)" class="text-danger">the field phone maximum 10 characters</span>
      </div>


      <div class="col-12 form-group mb-0 px-0 mt-3">
        <h6 for="program" class="mt-0">Program</h6>
        <select class="custom-select" formControlName="program">
          <option selected disabled>Program</option>
          <option [ngValue]="item.id" *ngFor="let item of programs">{{item?.name}}</option>

        </select>
      </div>


      <div class="col-12 form-group mb-0 px-0 mt-3">
        <h6 for="comment" class="mt-0">Comment</h6>
        <input type="text" class="form-control"
               aria-describedby="comment"
               placeholder="" formControlName="comment">
      </div>


      <div class="text-center">

        <button type="submit"
                class="btn btn-primary m-3">
          Save
        </button>
      </div>

    </form>
  </div>

</div>

<app-footer></app-footer>


