<div class="container my-5" style="height:  870px !important;">

  <div class="row mb-5 px-0 d-flex justify-content-center">
    <div class="col-3 p-1 m-1 card " *ngFor="let item of news">
      <div class=" ">
        <div class="card-body">
          <h5 class="card-title">{{item?.title}}</h5>
          <p class="card-text text-justify">{{item?.body}}</p>
          <div class="text-center">
            <a  class="btn btn-primary" (click)="go(item?.id)">see more</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<app-footer></app-footer>
